# Banco de Dados (Segurança de dados reais)
*.db
*.sqlite3

# Ambiente Virtual (Arquivos pesados do Python)
.venv/
venv/
env/
__pycache__/

# Configurações de Editores
.vscode/
.idea/

# Arquivos de Sistema
Thumbs.db
.DS_Store